Flask==3.1.1
flask-cors==6.0.1
python-dotenv==1.2.2

pymongo==4.13.2
dnspython==2.7.0

cohere==6.1.0
httpx==0.28.1

requests==2.32.5

gunicorn==23.0.0

beautifulsoup4==4.13.4
lxml==6.0.1
lxml_html_clean==0.4.2
newspaper3k==0.2.8

python-dateutil==2.9.0.post0
PyYAML==6.0.2
python-whois
requests
